USE [master]
GO
/****** Object:  Database [MitreAttackDB]    Script Date: 7.06.2024 00:11:36 ******/
CREATE DATABASE [MitreAttackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MitreAttackDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MitreAttackDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MitreAttackDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MitreAttackDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MitreAttackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MitreAttackDB]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 7.06.2024 00:11:37 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MITRE]    Script Date: 7.06.2024 00:11:37 ******/
CREATE USER [MITRE] FOR LOGIN [MITRE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [KUBRA]    Script Date: 7.06.2024 00:11:37 ******/
CREATE USER [KUBRA] FOR LOGIN [KUBRA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_owner] ADD MEMBER [MITRE]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [MITRE]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [MITRE]
GO
ALTER ROLE [db_datareader] ADD MEMBER [MITRE]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [MITRE]
GO
/****** Object:  Table [dbo].[ATTACKS]    Script Date: 7.06.2024 00:11:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTACKS](
	[AtackID] [int] IDENTITY(1,1) NOT NULL,
	[AttackCode] [nvarchar](50) NULL,
	[AttackResult] [nvarchar](max) NULL,
	[AttackDate] [date] NULL,
	[AttackTime] [time](0) NULL,
 CONSTRAINT [PK_ATTACK] PRIMARY KEY CLUSTERED 
(
	[AtackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATTACKS] ADD  CONSTRAINT [DF_ATTACKS_AttackDate]  DEFAULT (getdate()) FOR [AttackDate]
GO
ALTER TABLE [dbo].[ATTACKS] ADD  CONSTRAINT [DF_ATTACKS_AttackTime]  DEFAULT (getdate()) FOR [AttackTime]
GO
USE [master]
GO
